.frame35-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.frame35-thq-frame35-elm {
  width: 100%;
  height: 1194px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.frame35-thq-frame33-elm {
  gap: 10px;
  top: 294px;
  left: 709.7353515625px;
  width: 573px;
  height: 606px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.frame35-thq-image121212-elm {
  width: 666px;
  height: 698px;
}
 
.frame35-thq-frame36-elm {
  gap: 45px;
  top: 301.538818359375px;
  left: 164.6865234375px;
  width: 734px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame35-thq-text-elm10 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 50.36772537231445px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame35-thq-text-elm11 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 84.93911743164062px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame35-thq-text-elm12 {
  color: rgba(0, 0, 0, 1);
  width: 519px;
  height: auto;
  font-size: 31.852169036865234px;
  font-style: Light;
  text-align: left;
  font-family: Roboto Serif;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame35-thq-frame25-elm {
  width: 349.88916015625px;
  height: 66.67138671875px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.frame35-thq-rectangle2-elm {
  top: 0px;
  left: 0px;
  width: 350px;
  height: 67px;
  position: absolute;
}
 
.frame35-thq-text-elm13 {
  top: 15.835693359375px;
  left: 11.4658203125px;
  color: rgba(255, 255, 255, 1);
  width: 330px;
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 28.926074981689453px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.frame35-thq-text-elm14 {
  top: 15.835693359375px;
  left: 11.4658203125px;
  color: rgba(255, 255, 255, 1);
  width: 330px;
  height: auto;
  position: absolute;
  font-size: 28.926074981689453px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame35-thq-frame26-elm {
  gap: 12px;
  width: 367.99755859375px;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame35-thq-text-elm15 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: italic;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame35-thq-frame31-elm {
  gap: 104px;
  top: 41.538818359375px;
  left: 0.5px;
  width: 1439px;
  height: 157px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.frame35-thq-frame7-elm {
  display: flex;
  align-items: center;
}
 
.frame35-thq-image010png2-elm {
  width: 82px;
  height: 98px;
}
 
.frame35-thq-group1-elm {
  width: 110px;
  height: 56.704254150390625px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.frame35-thq-text-elm16 {
  top: 31.704254150390625px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20.862838745117188px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame35-thq-text-elm17 {
  left: 1.17578125px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 26.754121780395508px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame35-thq-frame29-elm {
  gap: 21px;
  display: flex;
  align-items: center;
}
 
.frame35-thq-text-elm18 {
  color: rgba(0, 0, 0, 1);
  width: 84px;
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame35-thq-text-elm19 {
  color: rgba(0, 0, 0, 1);
  width: 122px;
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame35-thq-text-elm20 {
  color: rgba(0, 0, 0, 1);
  width: 224px;
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame35-thq-text-elm21 {
  color: rgba(0, 0, 0, 1);
  width: 86px;
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame35-thq-frame30-elm {
  gap: 10px;
  width: 131px;
  height: 43.95201110839844px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 85px;
  justify-content: center;
  background-color: rgba(242, 98, 7, 1);
}
 
.frame35-thq-text-elm22 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame35-link {
  display: contents;
}
 
.frame35-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.frame35-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.frame35-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
 
@media(max-width: 1600px) {
  .frame35-thq-frame35-elm {
    width: 1388px;
  }
}
